<template>
  <div>
    <app-header></app-header>
    <div class="container">
      <app-chart v-for="(chartData, ind) in chartsData" :key="ind" :chartData="chartData"></app-chart>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import moment from 'moment'
import ChartTemplate from './Chart.vue'
import Header from './Header.vue'
import AtmosphericPressureService from '../services/AtmosphericPressureService'

export default {
  name: 'AtmosphericPressure',
  components: {
    'app-chart': ChartTemplate,
    'app-header': Header
  },
  computed: {
    chartsData() {
      console.log('here')
      return [{ 
        id: 'temp-hour',
        name: 'Hour Chart',
        labelXName: 'Hour',
        labelYName: '°C',
        data: this.data.temperature.hours,
        datasetLabel: 'Temperature Last Hour',
        labels: this.hour(),
        color: '#999900',
        min: -20,
        max: 50
      }, {
        id: 'alt-hour',
        name: 'Hour Chart',
        labelXName: 'Hour',
        labelYName: 'm',
        data: this.data.altitude.hours,
        datasetLabel: 'Altitude Last Hour',
        labels: this.hour(),
        color: '#009999',
        min: 800,
        max: 1200
      }, { 
        id: 'hum-hour',
        name: 'Hour Chart',
        labelXName: 'Hour',
        labelYName: '%',
        data: this.data.humidity.hours,
        datasetLabel: 'Humidity Last Hour',
        labels: this.hour(),
        color: '#3377AA',
        min: 0,
        max: 100
      }, {
        id: 'pr-hour',
        name: 'Hour Chart',
        labelXName: 'Hour',
        labelYName: 'hPa',
        data: this.data.pressure.hours,
        datasetLabel: 'Pressure Last Hour',
        labels: this.hour(),
        color: '#990099',
        min: 800,
        max: 1200
      }, { 
        id: 'temp-day',
        name: 'Day Chart',
        labelXName: 'Day',
        labelYName: '°C',
        data: this.data.temperature.days,
        datasetLabel: 'Temperature Last Day',
        labels: this.day(),
        color: '#999900',
        min: -20,
        max: 50
      }, {
        id: 'alt-day',
        name: 'Day Chart',
        labelXName: 'Day',
        labelYName: 'm',
        data: this.data.altitude.days,
        datasetLabel: 'Altitude Last Day',
        labels: this.day(),
        color: '#009999',
        min: 800,
        max: 1200
      }, { 
        id: 'hum-day',
        name: 'Day Chart',
        labelXName: 'Day',
        labelYName: '%',
        data: this.data.humidity.days,
        datasetLabel: 'Humidity Last Day',
        labels: this.day(),
        color: '#3377AA',
        min: 0,
        max: 100
      }, {
        id: 'pr-day',
        name: 'Day Chart',
        labelXName: 'Day',
        labelYName: 'hPa',
        data: this.data.pressure.days,
        datasetLabel: 'Pressure Last Day',
        labels: this.day(),
        color: '#990099',
        min: 800,
        max: 1200
      }, { 
        id: 'temp-week',
        name: 'Week Chart',
        labelXName: 'Week',
        labelYName: '°C',
        data: this.data.temperature.weeks,
        datasetLabel: 'Temperature Last Week',
        labels: this.week(),
        color: '#999900',
        min: -20,
        max: 50
      }, {
        id: 'alt-week',
        name: 'Week Chart',
        labelXName: 'Week',
        labelYName: 'm',
        data: this.data.altitude.weeks,
        datasetLabel: 'Altitude Last Week',
        labels: this.week(),
        color: '#009999',
        min: 800,
        max: 1200
      }, { 
        id: 'hum-week',
        name: 'Week Chart',
        labelXName: 'Week',
        labelYName: '%',
        data: this.data.humidity.weeks,
        datasetLabel: 'Humidity Last Week',
        labels: this.week(),
        color: '#3377AA',
        min: 0,
        max: 100
      }, {
        id: 'pr-week',
        name: 'Week Chart',
        labelXName: 'Week',
        labelYName: 'hPa',
        data: this.data.pressure.weeks,
        datasetLabel: 'Pressure Last Week',
        labels: this.week(),
        color: '#990099',
        min: 800,
        max: 1200
      }, { 
        id: 'temp-month',
        name: 'Month Chart',
        labelXName: 'Month',
        labelYName: '°C',
        data: this.data.temperature.months,
        datasetLabel: 'Temperature Last Month',
        labels: this.month(),
        color: '#999900',
        min: -20,
        max: 50
      }, {
        id: 'alt-month',
        name: 'Month Chart',
        labelXName: 'Month',
        labelYName: 'm',
        data: this.data.altitude.months,
        datasetLabel: 'Altitude Last Month',
        labels: this.month(),
        color: '#009999',
        min: 800,
        max: 1200
      },{ 
        id: 'hum-month',
        name: 'Month Chart',
        labelXName: 'Month',
        labelYName: '%',
        data: this.data.humidity.months,
        datasetLabel: 'Humidity Last Month',
        labels: this.month(),
        color: '#3377AA',
        min: 0,
        max: 100
      }, {
        id: 'pr-month',
        name: 'Month Chart',
        labelXName: 'Month',
        labelYName: 'hPa',
        data: this.data.pressure.months,
        datasetLabel: 'Pressure Last Month',
        labels: this.month(),
        color: '#990099',
        min: 800,
        max: 1200
      },{ 
        id: 'temp-year',
        name: 'Year Chart',
        labelXName: 'Year',
        labelYName: '°C',
        data: this.data.temperature.years,
        datasetLabel: 'Temperature Last Year',
        labels: this.year(),
        color: '#999900',
        min: -20,
        max: 50
      }, {
        id: 'alt-year',
        name: 'Year Chart',
        labelXName: 'Year',
        labelYName: 'm',
        data: this.data.altitude.years,
        datasetLabel: 'Altitude Last Year',
        labels: this.year(),
        color: '#009999',
        min: 800,
        max: 1200
      }, { 
        id: 'hum-year',
        name: 'Year Chart',
        labelXName: 'Year',
        labelYName: '%',
        data: this.data.humidity.years,
        datasetLabel: 'Humidity Last Year',
        labels: this.year(),
        color: '#3377AA',
        min: 0,
        max: 100
      }, {
        id: 'pr-year',
        name: 'Year Chart',
        labelXName: 'Year',
        labelYName: 'hPa',
        data: this.data.pressure.years,
        datasetLabel: 'Pressure Last Year',
        labels: this.year(),
        color: '#990099',
        min: 800,
        max: 1200
      }
      ]
    }
  },
  data () {
    return {
      data: {
        'temperature': {},
        'humidity': {},
        'altitude': {},
        'pressure': {}
      }
    }
  },
  async mounted () {
    const response = await AtmosphericPressureService.fetchData();
    this.data = response.data;
    // We want the data to auto update when we are on the page
    setInterval(this.getData, 5000)
  },
  methods: {
    async getData () {
      const response = await AtmosphericPressureService.fetchData()
      this.data = response.data;
    },
    time () {
      const now = moment();
      return {
        moment: now,
        minutes: String(Math.floor(Number(moment().format('m')) / 2) * 2),
        hours: moment().format('H'),
        weekDays: moment().format('dddd'),
        monthDays:moment().format('D'),
        months: moment().format('MMMM')
      }
    },
    hour () {
      const thisMinute = this.time().minutes;
      const minutes = ['0','2','4','6','8','10','12','14','16','18','20','22','24','26','28','30','32','34','36','38','40','42','44','46','48','50','52','54','56','58'];
      const thisMinutesInd = minutes.findIndex(minute => minute === thisMinute);
      const previousMinutesInd = (thisMinutesInd === 30) ? 0 : (thisMinutesInd + 1); 
      const minuteLabels = minutes.slice(previousMinutesInd).concat(minutes.slice(0, previousMinutesInd)); 
      return minuteLabels;
    },
    day () {
      const thisHour = this.time().hours;
      const hours = ['0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23'];
      const thisHourInd = hours.findIndex(hour => hour === thisHour);
      const previousHourInd = (thisHourInd === 23) ? 0 : (thisHourInd + 1); 
      const hourLabels = hours.slice(previousHourInd).concat(hours.slice(0, previousHourInd)); 
      return hourLabels
    },
    week () {
      const today = this.time().weekDays;
      const dotw = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];
      const todayInd = dotw.findIndex(day => day === today);
      const yesterdayInd = (todayInd === 6) ? 0 : (todayInd + 1); 
      const dotwLabels = dotw.slice(yesterdayInd).concat(dotw.slice(0, yesterdayInd));
      return dotwLabels;
    },
    month () {
      const today = this.time().monthDays;
      const dotm = [...Array(moment().subtract(1, 'month').daysInMonth()).keys()].map((x => String(x + 1)));
      const todayInd = dotm.findIndex(day => day === today);
      const yesterdayInd = (todayInd === moment().daysInMonth() - 1) ? 0 : (todayInd + 1); 
      const monthLabels = dotm.slice(yesterdayInd).concat(dotm.slice(0, yesterdayInd));
      return monthLabels;
    },
    year () {
      const thisMonth = this.time().months;
      const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
      const thisMonthInd = months.findIndex(month => month === thisMonth);
      const lastMonthInd = (thisMonthInd === 11) ? 0 : (thisMonthInd + 1);
      const yearLabels = months.slice(lastMonthInd).concat(months.slice(0, lastMonthInd));
      return yearLabels;
    }
  }
}
</script>

<style>

  * {
    box-sizing: border-box;
  }

  .container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-around;
  }

  canvas {
    max-width: 500px;
    max-height: 500px;
  }
</style>
