<template>
  <div class="chart-container">
    <canvas :id="chartData.id"></canvas>
  </div>
</template>

<script>
/* eslint-disable */

import Chart from 'chart.js'

export default {
  props: [
    'chartData'
  ],
  mounted() {
    this.reset();
    this.draw();
  },
  watch: {
    chartData(newVal, oldVal) {
      this.draw();
    }
  },
  methods: {
    reset() {
      // That's needed because chartJS bugs on hover
      chartCont = document.querySelector('chart-container');
      chartCont.innerHTML = '';
      chartCont.innerHTML = '<canvas :id="chartData.id"></canvas>';
    },
    draw() {
      const chartHandle = document.getElementById(this.chartData.id)
      const data = this.chartData.data
      const datasetLabel = this.chartData.datasetLabel
      const labels = this.chartData.labels
      const color =this.chartData.color
      const name = this.chartData.name
      const labelXName = this.chartData.labelXName
      const labelYName = this.chartData.labelYName
      const min = this.chartData.min
      const max = this.chartData.max
      
      const chart = new Chart(chartHandle, {
        type: 'line',
        data: {
          labels: labels,
          datasets:[{
            label: datasetLabel,
            lineTension: 0,
            backgroundColor: color,
            borderColor: color,
            data: data,
            fill: false
          }],
        },
        options: {
          animation: false,
          bezierCurve: false,
          responsive: true,
          title: {
            display: true,
            text: name
          },
          tooltips: {
            mode: 'index',
            intersect: false,
          },
          hover: {
            mode: 'nearest',
            intersect: true
          },
          scales: {
            xAxes: [{
              display: true,
              scaleLabel: {
                display: true,
                labelString: labelXName
              }
            }],
            yAxes: [{
              display: true,
              scaleLabel: {
                display: true,
                labelString: labelYName,
              },
              ticks: {
                suggestedMin: min,
                suggestedMax: max
              }
            }]
          }
        }
      })
    }
  }
}
</script>

<style scoped>
  canvas {
    min-width: 600px;
    max-width: 600px;
    min-height: 400px;
    max-height: 400px;
  }
</style>
