<template>
  <div>
    <app-header></app-header>
    <div class="dashboard">
      <div class="container">
        <p><span class="description">PM2.5: </span> <span :class="classes.pm25Cl">{{data.pm25.toFixed(2)}} µg/m3</span> </p>
        <p><span class="description">PM10:</span><span :class="classes.pm10Cl"> {{data.pm10.toFixed(2)}} µg/m3</span></p>
        <p><span class="description">Temperature:</span><span :class="classes.temperatureCl"> {{data.temperature.toFixed(2)}} °C</span></p>
        <p><span class="description">Pressure:</span><span :class="classes.pressureCl"> {{data.pressure.toFixed(2)}} hPa</span></p>
        <p><span class="description">Humidity:</span><span :class="classes.humidityCl"> {{data.humidity.toFixed(2)}} %</span></p>
        <p><span class="description">Altitude:</span><span :class="classes.altitudeCl"> {{data.altitude.toFixed(2)}} m</span></p>
      </div>
    </div>
  </div>
</template>

<script>
import SensorsDataService from '@/services/SensorsDataService'

import Header from './Header.vue'

export default {
  name: 'dashboard',
  components: {
    'app-header': Header
  },
  computed: {
    classes () {
      let pm25Cl = this.data.pm25 > 30 ? 'value red' : 'value green'
      let pm10Cl = this.data.pm10 > 30 ? 'value red' : 'value green'
      let temperatureCl = this.data.temperature < 0 ? 'value blue' : (this.data.temperature > 30 ? 'value red' : 'value green')
      let pressureCl = 'value green'
      let humidityCl = 'value green'
      let altitudeCl = 'value green'
      return {
        pm25Cl,
        pm10Cl,
        temperatureCl,
        pressureCl,
        humidityCl,
        altitudeCl
      }
    }
  },
  data () {
    return {
      data: {
        pm25: 0,
        pm10: 0,
        temperature: 0,
        humidity: 0,
        pressure: 0,
        altitude: 0
      }
    }
  },
  mounted () {
    // We want the data to auto update when we are on the page
    this.getData()
    setInterval(this.getData, 5000)
  },
  methods: {
    async getData () {
      const response = await SensorsDataService.fetchData()
      this.data = response.data
    }
  }
}
</script>

<style scoped>

  * {
    box-sizing: border-box;
  }

  div.dashboard {
    align-items: center;
    background: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  p {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    text-align: left;
    width: 300px;
    margin: 30px 0;
  }

  span.description {
    padding: 5px;
  }

  span.value {
    border: 1px solid #444;
    color: white;
    text-shadow: 1px 1px #000;;
    padding: 5px;

  }

  div.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .blue {
    background-color: blue;
  }

  .red {
    background-color: red;
  }

  .green {
    background-color: green;
  }
</style>
