<template>
  <div>
    <app-header></app-header>
    <div class="container">
      <app-chart v-for="(chartData, ind) in chartsData" :key="ind" :chartData="chartData"></app-chart>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import moment from 'moment'
import ChartTemplate from './Chart.vue'
import Header from './Header.vue'
import FineParticlesService from '@/services/FineParticlesService'

export default {
  name: 'FineParticles',
  components: {
    'app-chart': ChartTemplate,
    'app-header': Header
  },
  computed: {
    chartsData() {
      return [{ 
        id: 'pm25-hour',
        name: 'Hour Chart',
        labelXName: 'Hour',
        labelYName: 'µg/m3',
        data: this.data.pm25.hours,
        datasetLabel: 'PM 2.5 Last Hour',
        labels: this.hour(),
        color: '#00FF00',
        min: 0,
        max: 50
      }, {
        id: 'pm10-hour',
        name: 'Hour Chart',
        labelXName: 'Hour',
        labelYName: 'µg/m3',
        data: this.data.pm10.hours,
        datasetLabel: 'PM 10 Last Hour',
        labels: this.hour(),
        color: '#0000FF',
        min: 0,
        max: 50
      }, { 
        id: 'pm25-day',
        name: 'Day Chart',
        labelXName: 'Day',
        labelYName: 'µg/m3',
        data: this.data.pm25.days,
        datasetLabel: 'PM 2.5 Last Day',
        labels: this.day(),
        color: '#00FF00',
        min: 0,
        max: 50
      }, {
        id: 'pm10-day',
        name: 'Day Chart',
        labelXName: 'Day',
        labelYName: 'µg/m3',
        data: this.data.pm10.days,
        datasetLabel: 'PM 10 Last Day',
        labels: this.day(),
        color: '#0000FF',
        min: 0,
        max: 50
      },{ 
        id: 'pm25-week',
        name: 'Week Chart',
        labelXName: 'Week',
        labelYName: 'µg/m3',
        data: this.data.pm25.weeks,
        datasetLabel: 'PM 2.5 Last Week',
        labels: this.week(),
        color: '#00FF00',
        min: 0,
        max: 50
      }, {
        id: 'pm10-week',
        name: 'Week Chart',
        labelXName: 'Week',
        labelYName: 'µg/m3',
        data: this.data.pm10.weeks,
        datasetLabel: 'PM 10 Last Week',
        labels: this.week(),
        color: '#0000FF',
        min: 0,
        max: 50
      },{ 
        id: 'pm25-month',
        name: 'Month Chart',
        labelXName: 'Month',
        labelYName: 'µg/m3',
        data: this.data.pm25.months,
        datasetLabel: 'PM 2.5 Last Month',
        labels: this.month(),
        color: '#00FF00',
        min: 0,
        max: 50
      }, {
        id: 'pm10-month',
        name: 'Month Chart',
        labelXName: 'Month',
        labelYName: 'µg/m3',
        data: this.data.pm10.months,
        datasetLabel: 'PM 10 Last Month',
        labels: this.month(),
        color: '#0000FF',
        min: 0,
        max: 50
      },{ 
        id: 'pm25-year',
        name: 'Year Chart',
        labelXName: 'Year',
        labelYName: 'µg/m3',
        data: this.data.pm25.years,
        datasetLabel: 'PM 2.5 Last Year',
        labels: this.year(),
        color: '#00FF00',
        min: 0,
        max: 50
      }, {
        id: 'pm10-year',
        name: 'Year Chart',
        labelXName: 'Year',
        labelYName: 'µg/m3',
        data: this.data.pm10.years,
        datasetLabel: 'PM 10 Last Year',
        labels: this.year(),
        color: '#0000FF',
        min: 0,
        max: 50
      }]
    }
  },
  data () {
    return {
      data: {
        'pm25': {},
        'pm10': {}
      }
    }
  },
  mounted () {
    // We want the data to auto update when we are on the page
    this.getData()
    setInterval(this.getData, 5000)
  },
  methods: {
    async getData () {
      const response = await FineParticlesService.fetchData()
      this.data = response.data;
    },
    time () {
      const now = moment();
      return {
        moment: now,
        minutes: String(Math.floor(Number(moment().format('m')) / 2) * 2),
        hours: moment().format('H'),
        weekDays: moment().format('dddd'),
        monthDays:moment().format('D'),
        months: moment().format('MMMM')
      }
    },
    hour () {
      const thisMinute = this.time().minutes;
      const minutes = ['0','2','4','6','8','10','12','14','16','18','20','22','24','26','28','30','32','34','36','38','40','42','44','46','48','50','52','54','56','58'];
      const thisMinutesInd = minutes.findIndex(minute => minute === thisMinute);
      const previousMinutesInd = (thisMinutesInd === 30) ? 0 : (thisMinutesInd + 1); 
      const minuteLabels = minutes.slice(previousMinutesInd).concat(minutes.slice(0, previousMinutesInd)); 
      return minuteLabels;
    },
    day () {
      const thisHour = this.time().hours;
      const hours = ['0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23'];
      const thisHourInd = hours.findIndex(hour => hour === thisHour);
      const previousHourInd = (thisHourInd === 23) ? 0 : (thisHourInd + 1); 
      const hourLabels = hours.slice(previousHourInd).concat(hours.slice(0, previousHourInd)); 
      return hourLabels
    },
    week () {
      const today = this.time().weekDays;
      const dotw = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];
      const todayInd = dotw.findIndex(day => day === today);
      const yesterdayInd = (todayInd === 6) ? 0 : (todayInd + 1); 
      const dotwLabels = dotw.slice(yesterdayInd).concat(dotw.slice(0, yesterdayInd));
      return dotwLabels;
    },
    month () {
      const today = this.time().monthDays;
      const dotm = [...Array(moment().subtract(1, 'month').daysInMonth()).keys()].map((x => String(x + 1)));
      const todayInd = dotm.findIndex(day => day === today);
      const yesterdayInd = (todayInd === moment().daysInMonth() - 1) ? 0 : (todayInd + 1); 
      const monthLabels = dotm.slice(yesterdayInd).concat(dotm.slice(0, yesterdayInd));
      return monthLabels;
    },
    year () {
      const thisMonth = this.time().months;
      const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
      const thisMonthInd = months.findIndex(month => month === thisMonth);
      const lastMonthInd = (thisMonthInd === 11) ? 0 : (thisMonthInd + 1);
      const yearLabels = months.slice(lastMonthInd).concat(months.slice(0, lastMonthInd));
      return yearLabels;
    }
  }
}
</script>

<style>

  * {
    box-sizing: border-box;
  }

  .container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-around;
  }

  canvas {
    max-width: 500px;
    max-height: 500px;
  }
</style>
