<template>
  <header>
     <router-link to="/" exact>Dashboard</router-link>
     <router-link to="/fineParticles" exact>Fine Particles Charts</router-link>
     <router-link to="/atmosphericPressure" exact>Atmospheric Pressure Charts</router-link>
  </header>
</template>

<script>
export default {
}
</script>

<style scoped>
  * {
    box-sizing: border-box;
  }

  header {
    align-items: flex-end;
    background-color: #AAA;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  a {
    border: 1px solid #AAA;
    color: #000;
    font-size: 24px;
    text-decoration: none;
    margin: 40px 60px;
  }

  a:hover {
    border-bottom: 1px solid #666;
    color: #666;
    transition: color 0.5s;
    transition: border-bottom 0.5s;
  }

  a.router-link-active {
    border-bottom: 1px solid #666;
    color: #666;
  }
</style>
